.welcome-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 15s infinite;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* flex-shrink: 0; */
  }
  
  
  @keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
  }
  
  
  .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  